<!DOCTYPE html>
<html>
<head>
    <title>Amateurfunk-Stationen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Amateurfunk-Stationen</h1>
    <form method="POST">
        <label for="rufzeichen">Rufzeichen:</label><br>
        <input type="text" id="rufzeichen" name="rufzeichen" value="{{ rufzeichen }}"><br>
        <label for="frequenz">Frequenz in MHz:</label><br>
        <input type="number" step="0.0001" id="frequenz" name="frequenz" value="{{ frequenz }}"><br>
        <label for="betriebsart">Betriebsart:</label><br>
        <select id="betriebsart" name="betriebsart">
            <option value="DMR">DMR</option>
            <option value="FM">FM</option>
            <option value="SSB">SSB</option>
            <option value="FT8">FT8</option>
            <option value="D-STAR">D-STAR</option>
            <option value="C4FM">C4FM</option>
            <!-- Rest der Betriebsarten... -->
        </select><br>
        <input type="submit" value="Submit">
    </form>
    <table>
        <thead>
            <tr>
                <th>Rufzeichen</th>
                <th>Frequenz</th>
                <th>Betriebsart</th>
                <th>Zeitstempel</th>
                <th>Zeit seit Eintrag</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
    $.ready(function(){
        console.log("Seite geladen...");
        function updateTable() {
            $.getJSON("/data", function(data){
                console.log("test");
                var tableBody = $("table tbody");
                tableBody.empty();
                $.each(data.data, function(index, entry){
                    var now = new Date();
                    var timestamp = new Date(entry.timestamp);
                    var diff = Math.abs(now - timestamp); // in milliseconds

                    var diffMinutes = Math.floor((diff/1000)/60);
                    var diffHours = Math.floor(diffMinutes/60);

                    var diffDisplay;
                    if (diffHours > 0) {
                        var remainingMinutes = diffMinutes - (diffHours * 60);
                        diffDisplay = diffHours + " Stunde(n) " + remainingMinutes + " Minute(n)";
                    } else {
                        diffDisplay = diffMinutes + " Minute(n)";
                    }

                    var row = "<tr><td>" + entry.callsign + "</td><td>" + entry.frequency + "</td><td>" + entry.mode + "</td><td>" + entry.timestamp + "</td><td>" + diffDisplay + "</td></tr>";
                    tableBody.append(row);
                });
            });
        }
        updateTable(); // Beim Laden der Seite ausführen
        setInterval(updateTable, 30000); // Alle 30 Sekunden ausführen
    });
    </
